.Title {
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  margin: 40px 0 0;
}

.SubTitle {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;

  margin: 0;
}

.Text {
  font-family: "Montserrat";
  font-style: normal;
  color: #3b4168;
}

.Ellipse1 {
  position: absolute;
  background-color: #b2c8ff;

  -webkit-filter: blur(115px);
  filter: blur(100px);
  height: 400px;
  width: 400px;

  right: -200px;
  top: -100px;

  z-index: -1;
  overflow: hidden;
}

.Ellipse2 {
  position: absolute;
  background-color: #bea5f4;

  -webkit-filter: blur(115px);
  filter: blur(100px);
  height: 300px;
  width: 300px;

  left: -100px;
  top: calc(100% - 400px);

  z-index: -1;
  overflow: hidden;
}

.ProjectsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 90%;
  gap: 30px;
  flex: 1;

  @media screen and (max-width: 1400px) {
    width: 95%;
  }
}

.IDHDescription {
  background: rgba(255, 255, 255, 0.3);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border-radius: 10px;
  border: 1px solid #afafaf;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */

  & > span {
    font-family: "IBM Plex sans", sans-serif;
    font-style: normal;
    font-size: 22px;
    color: #3b4168;
  }
}

.StartButton {
  height: 70px;
  border: 1px solid rgb(34, 135, 218);
  background-color: rgba(255, 255, 255, 0.3);

  /* border-color: var(--mantine-color-blue-6); */
  & > span {
    font-size: 30px;
    font-family: "IBM Plex sans", sans-serif;
    /* font-weight: 300; */
  }

  &:hover {
    background-color: rgba(34, 135, 218, 0.2);
  }
}
